* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}
.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    padding-top: 63px;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.menu {
    float: right;
}
.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link:focus {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    padding-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 100;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24.04px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    display: inline-block;
    text-align: center;
    letter-spacing: 3.6px;
}
.button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.button:active{
    box-shadow: none;
}
.button p {
    margin-top: 11px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}
.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}
.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.featured-product {
    padding-top: 120px;
    
}
.featured-content *{
    text-decoration: none;
    list-style-type: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    
}
.border{
    border-bottom: 1px solid #6c6c6c;
    width: 300px;
    padding-top: 48px;
}
.featured {
    float: left;
    padding-left: 9px;
    
}
.new{
    float: left;
    padding-left: 31px;
}
.featured:hover *{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 4px solid black;
}
.new:hover *{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
.new:hover {
    border-bottom: 4px solid black;
    margin: -3px auto -3px;
}
.featured:hover{
    border-bottom: 4px solid black;
    margin: -3px auto -3px;
}
.explore {
    float: right;
    margin-left: 714px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
    margin-top: -25px;
}
.explore:hover {
    color: #6c6c6c;
}


.product{
    padding-top: 50px;
}
.product *{
    float: left;
}

.pic2,
.pic3,
.pic4 {
    padding-left: 30px;
}
.back{
    position: absolute;
    display: none;
    outline: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 80%;
    width: 270px;
    height: 270px;
}

.back__link {
    margin-top: 62px;
    margin-left: 111px;
}
.back__image {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    width: 12px;
    height: 20px;
    border-radius: 24px;
    background-color: #ffffff;
    display: inline-block;
    padding: 14px 18px;
}
.back__image:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
.back__image:active{
    box-shadow: none;
}

.back__prod-name {
    padding-top: 33px;
    padding-left: 63px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
   
}

.back__prod-desc{
    padding-top: 23px;
    padding-left: 32px;
    width: 215px;
    text-align: center;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}
.pic1:hover .back{
    display: block;
    
}
.pic2:hover .back{
    display: block;
    
}
.pic3:hover .back{
    display: block;
    
}
.pic4:hover .back{
    display: block;
}

.promo-image1 img {
    position: relative;
    width: 683px;
    padding-top: 120px;
    float: left;
}
.text-img1{
    position: absolute;
    top: 1637px;
    padding-left: 50px;
    width: 400px;
}

.promo-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-left: 1px;
}

.promo-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-content-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    padding-top: 14px;
    padding-bottom: 34px;
}

.promo-image2 img{
    position: relative;
    width: 683px;
    padding-top: 120px;
}
.text-img2{
    position: absolute;
    top: 1637px;
    margin-left: 734px;
    width: 400px;
}

.trending-product {
    position: relative;
    padding-top: 119px;
}

.trending {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trend-explore {
    float: right;
    margin-left: 667px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
    margin-top: -25px;
}
.trend-explore:hover {
    color: #6c6c6c;
}

.lines-img {
    display: block;
    padding-top: 100px;
}

.trend-image1,
.trend-image2,
.trend-image3,
.trend-image4,
.trend-image5,
.trend-image6 {
    float: left;
}

.trend-image2,
.trend-image3,
.trend-image5,
.trend-image6 {
    margin-left: 30px;
}

.trend-image1,
.trend-image2,
.trend-image3 {
    margin-bottom: 30px;
}

.trend-image1:hover,
.trend-image2:hover,
.trend-image3:hover,
.trend-image4:hover,
.trend-image5:hover,
.trend-image6:hover {
    outline: 1px solid rgba(33, 33, 33, 0.35);
    box-shadow: 0 5px 10px 10px  rgba(33, 33, 33, 0.35);
    transform: scale(1.05);
    transition: 0.5s;
}

.hot-deal-slider{
    position: relative;
    background-image: url(img/slider.jpg);
    height: 800px;
    margin-top: 120px;
}
.hot-deal-slider-text {
    padding-top: 287px;
}

.hot-deal {
    padding-left: 1px;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.hot-deal-h2 {
    color: #212121;
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 72px;
    padding-left: 8px;
}

.hot-deal-slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 470px;
    margin-top: 20px;
    margin-bottom: 32px;
    line-height: 24.04px;
}